
{% extends "layout.html" %}

{% block header_add %}
<!-- Bootstrap Core CSS -->
<link href="{{ url_for('static', filename='css/energy_account_table.css') }}" rel="stylesheet">
{% endblock %}

{% block heading %}
{{ heading }}
{% endblock %}

{% block sub_heading %}
{{ sub_heading }}
{% endblock %}

{% block breadcrumbs %}
  {% for crumb, icon, url in breadcrumbs %}
    <li>
        <i class="fa fa-{{ icon }}"></i>  <a href="{{ url }}">{{ crumb }}</a>
    </li>
  {% endfor %}
{% endblock %}

{% block content %}
<div class="body-content">

  <div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="{% if request.url_rule.endpoint == 'admin.users' %} active {% endif %}"><a href="{{url_for('admin.users')}}">Users</a></li>
    <li role="presentation" class="{% if request.url_rule.endpoint == 'admin.events' %} active {% endif %}"><a href="{{url_for('admin.events')}}">Audit Trail</a></li>
    <li role="presentation"><a href="#messages" >Messages</a></li>
    <li role="presentation"><a href="#settings">Settings</a></li>
  </ul>

{% block admin_content %}

{% endblock %}
</div>


  </div>

{% endblock %}
