
{% extends "layout.html" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Data Chart</h1>



  <form class="form-horizontal" action="{{ url_for('public.charts') }}" method="post">
    {{ form.hidden_tag() }}
  <fieldset>

  <!-- Form Name -->
  <legend>Import PGE Data</legend>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Start Date</label>
    <div class="col-md-4">
    {{ form.start_date(class="form-control input-md", id="datepicker1") }}

    <script type="text/javascript">

    $(document).ready(function() {
        $('#datepicker1').datepicker({

          format: 'yyyy-mm-dd',

        })
                ;

    })
    </script>

    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">End Date</label>
    <div class="col-md-4">
    {{ form.end_date(class="form-control input-md", id="datepicker2") }}

    <script type="text/javascript">

    $(document).ready(function() {
        $('#datepicker2').datepicker({

          format: 'yyyy-mm-dd',

        })
                ;

    })
    </script>

    </div>
  </div>

  <!-- SelectField -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="singlebutton">Time Unit</label>
    <div class="col-md-4">
      {{ form.data_time_unit(class="form-control input-md") }}
    </div>
  </div>

  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="singlebutton"></label>
    <div class="col-md-4">
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </div>

  </fieldset>
  </form>

</div><!-- /.jumbotron -->
<div class="row">
    <div class="col-sm-4">

    <canvas id="myChart" width="100" height="100"></canvas>

    <script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: {% if session['data_time_unit'] == "Daily"%} {{ outgoing_electric_daily_label|safe }} {% else %}  {{ outgoing_labels|safe }} {% endif %},
          datasets: [{
              label: 'Outgoing Electric (Sold to Grid)',
              data: {% if session['data_time_unit'] == "Daily"%} {{ outgoing_electric_daily_data|safe }} {% else %}  {{ outgoing_electric|safe }} {% endif %},
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
    });
    </script>

    </div>

    <div class="col-sm-4">

    <canvas id="myChart2" width="100" height="100"></canvas>

    <script>
    var ctx = document.getElementById("myChart2");
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: {% if session['data_time_unit'] == "Daily"%} {{ incoming_electric_daily_label|safe }} {% else %}  {{ incoming_labels|safe }} {% endif %},
          datasets: [{
              label: 'Incoming Electric (Usage)',
              data: {% if session['data_time_unit'] == "Daily"%} {{ incoming_electric_daily_data|safe }} {% else %}  {{ incoming_electric|safe }} {% endif %},
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
    });
    </script>

    </div>
    <div class="col-sm-4">
      <p>Debug Data</p>

<p>Start Date: {{ session['start_date_pge'] }}<br>

End Date:{{ session['end_date_pge'] }}</br><br>

<a class="btn btn-primary" href="{{ url_for('public.charts', modify='clear') }}"> Clear Dates</a>

</p>

<p>
{{ incoming_electric_daily_data }}

<br><br>

{{ incoming_electric_daily_label}}
</p>

      {{ incoming_labels|safe }}

    {% for reading in outgoing_electric %}

    {{ reading }},

    {% endfor %}

    <hr>

    {% for reading in incoming_electric %}

    {{ reading }},

    {% endfor %}
    </div>
</div>

{% endblock %}
